html {
  height:100%;
  margin:0;
  padding:0
}

body {
  font-family: 'Roboto', sans-serif;
  overflow:hidden;
  background:#f2eee5;
  margin:0;
  padding:0;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus { outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track { background: #367ebd; }

#lin {
  z-index:2;
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#modifyWallBackButton { margin-top:50px }

#modifyDoorBackButton { margin-top:100px }

.roomColor:nth-of-type(2) { background:linear-gradient(30deg, #f55847, #f00); }
.roomColor:nth-of-type(3) { background:linear-gradient(30deg, #e4c06e, #ffb000); }
.roomColor:nth-of-type(4) { background:linear-gradient(30deg, #88cc6c, #60c437); }
.roomColor:nth-of-type(5) { background:linear-gradient(30deg, #77e1f4, #00d9ff); }
.roomColor:nth-of-type(6) { background:linear-gradient(30deg, #4f72a6, #284d7e); }
.roomColor:nth-of-type(7) { background:linear-gradient(30deg, #666666, #aaaaaa); }
.roomColor:nth-of-type(8) { background:linear-gradient(30deg, #fafafa, #eaeaea); }
.roomColor:nth-of-type(9) { background:linear-gradient(30deg, #f9ad67, #f97f00); }
.roomColor:nth-of-type(10) { background:linear-gradient(30deg, #a784d9, #8951da); }
.roomColor:nth-of-type(11){ background:linear-gradient(30deg, #df67bd, #e22aae); }
.roomColor:nth-of-type(12){ background:linear-gradient(30deg, #3c3b3b, #000000); }
.roomColor:nth-of-type(13){ background:linear-gradient(30deg, #e2c695, #c69d56); }

.roomColor {
  transition:all .1s ease-in-out;
  float:left;
  width:36px;
  height:36px;
  border-radius:5px 5px 18px 5px;
  margin:3px
}

.roomColor:hover {
  transform: scale(1.1);
  cursor:pointer;
  border:1px solid #333;
}

#select_mode { box-shadow:2px 2px 3px #ccc; }

#line_mode { margin-bottom:0px }

#zoomBox {
  position:absolute;
  z-index:100;
  right:-150px;
  bottom:20px;
  text-align:center;
  background:transparent;
  padding:0px;
  color:#fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#zoomBox .pull-right { margin-right:10px }

#zoomBox button { box-shadow:2px 2px 3px #ccc; }

.leftBox {
  background:#fff;
  box-shadow:2px 0px 3px #ccc;
  top:0px;
  width:200px;
  height:100vh;
  padding:13px;
  position:absolute;
  z-index:2;
  display:none;
  font-size:0.9em;
}

#panel {
  display: block;
  left:-200px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 250ms;
}

.btn {
  margin-bottom:6px;
  transition:all 0.3s
}

.fully { width:100% }

.halfy { width:47% }

.btn:hover { background:#08d; }

.circle_css {
  fill:#5cba79;
  fill-opacity:0.9;
  transition:all 0.4s
}

.circle_css_2 {
  stroke:#5cba79;
  stroke-width:0;
  fill:#5cba79;
  fill-opacity:0.9;
  animation: myAnim 0.6s linear infinite;
}

.clearBoth {
  clear: both;
}